@font-face {
    font-family: 'Alegreya', serif;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/alegreya/alegreya-sans-v10-latin-regular.eot);
    src: local('Alegreya'),
        url(../assets/fonts/alegreya/alegreya-sans-v10-latin-regular.woff2) format('woff2'),
        url(../assets/fonts/alegreya/alegreya-sans-v10-latin-regular.woff) format('woff'),
        url(../assets/fonts/alegreya/alegreya-sans-v10-latin-regular.ttf) format('truetype');
}