@import 'src/styles/ultilities/variables';
@import 'src/styles/ultilities/variables.color';

body {
    padding-top: 60px;
}

p {
    padding: 0;
    margin: 0;
}

// a {
//     color: $color-main;
// }