<div class="row d-flex introduce">
    <div class="col-sm-12 col-lg-6 bg-light">
        <div class="d-flex content">
            <b class="ly">LY LÀ...</b>
            lập trình viên, vì thích sách nên sinh ra blog này.
            Ly - 23 tuồi. Chào mừng bạn ghé qua blog của mình, 
            đây là nơi mình chia sẻ các câu chuyện cuộc sống hằng ngày của mình 
            cũng như sẽ đem hết số sách mình tích lũy hằng tuần dâng hiến cho bạn đọc theo góc nhìn của mình.
            Cảm ơn nè
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 d-flex justify-content-end bg-light">
        <img src="../../../assets/images/DSC02187.jpg" alt="">
    </div>
</div>

<div class="text-center p-5">
    sự yên tĩnh của tâm hồn mà chúng ta cảm nhận được khi ở một mình lại chính là liều thuốc quý giá dành cho tâm hồn
</div>
<hr class="hr-text" data-content="books">
<div class="row books">
    <div class="col-sm-12 col-md-4">
        <app-card></app-card>
    </div>
    <div class="col-sm-12 col-md-4">
        <app-card></app-card>
    </div>
    <div class="col-sm-12 col-md-4">
        <app-card></app-card>
    </div>
</div>

<hr class="hr-text" data-content="travels">

<div class="row travels">
    <div class="col-md-4">
        <app-card ></app-card >
    </div>
    <div class="col-md-4">
        <app-card></app-card>
    </div>
    <div class="col-md-4">
        <app-card></app-card>
    </div>
</div>
